<!--Start: Character Attributes Block-->
		<table cellspacing="0" class="invisible">
			<tr>
				<th colspan="3">Attributes</th>
			</tr>
			<tr>
				<td class="thirdwidth">Strength:</td>
				<td class="thirdwidth2">{$character.str}</td>
				<td class="thirdwidth3">{$ability_modifiers.str}</td>
			</tr>
			<tr>
				<td class="thirdwidth">Dexterity:</td>
				<td class="thirdwidth2">{$character.dex}</td>
				<td class="thirdwidth3">{$ability_modifiers.dex}</td>
			</tr>
			<tr>
				<td class="thirdwidth">Constitution:</td>
				<td class="thirdwidth2">{$character.con}</td>
				<td class="thirdwidth3">{$ability_modifiers.con}</td>
			</tr>
			<tr>
				<td class="thirdwidth">Intelligence:</td>
				<td class="thirdwidth2">{$character.intel}</td>
				<td class="thirdwidth3">{$ability_modifiers.intel}</td>
			</tr>
			<tr>
				<td class="thirdwidth">Wisdom:</td>
				<td class="thirdwidth2">{$character.wis}</td>
				<td class="thirdwidth3">{$ability_modifiers.wis}</td>
			</tr>
			<tr>
				<td class="thirdwidth">Charisma:</td>
				<td class="thirdwidth2">{$character.cha}</td>
				<td class="thirdwidth3">{$ability_modifiers.cha}</td>
			</tr>
		</table>
<!--End: Character Attributes Block-->