<!--Start Character Details Block-->
		<table cellspacing="0" class="invisible">
			<tr>
				<th colspan="2">{$character.name}</th>
			</tr>
			<tr>
				<td class="halfwidth">Race:</td>
				<td class="halfwidth2">{$character.race_name} ({$character.sex})</td>
			</tr>
			<tr>
				<td class="halfwidth">Class:</td>
				<td class="halfwidth2">{$character.class_name}</td>
			</tr>
			<tr>
				<td class="halfwidth">Rank:</td>
				<td class="halfwidth2">{$character.rank_name}</td>
			</tr>
			<tr>
				<td class="halfwidth">Level:</td>
				<td class="halfwidth2">{$character.level}</td>
			</tr>
			<tr>
				<td class="halfwidth">Hit Points:</td>
				<td class="halfwidth2">{$character.hp}</td>
			</tr>
			<tr>
				<td class="halfwidth">Exp:</td>
				<td class="halfwidth2">{$character.exp}</td>
			</tr>
			<tr>
				<td class="halfwidth">Gold:</td>
				<td class="halfwidth2">{$character.gold}</td>
			</tr>
		</table>
<!--End: Character Details Block-->