<div>

<form method="post" action="{$M_URL}" id="post_news" name="post_news">
<input type="hidden" name="op" value="preview" />
<span class="th">Title:</span><br />
<input type="text" name="n_title" value="" size="67" maxlength="67" />
<br />
<br />
<span class="th">News Text:</span><br />
<textarea name="n_text" cols="50" rows="15" wrap="virtual"></textarea>
<br />
<em>(You may enter html to aid presentation, newlines are converted to html breaks)</em>
<br />
<br />
<input type="submit" value="Submit" name="n_submit" />&nbsp;<input type="reset" value="Reset" name="n_reset" />
</form>

</div>