<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!--
Title:			Shadows Rising RPG "Install Default" Theme 
Designed by:	Maugrim The Reaper (http://www.quantum-star.com)
Compliance:		XHTML 1.1
Optimisation:	1024x768 Resolution // Mozilla Firefox 0.8
-->

<!--Using UTF-8 as <?xml?> declaration missing to avoid IE "quirks" mode rendering. Do not remove !DOCTYPE. Ensure document is fully validated before implementing.-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Shadows Rising RPG Install Utility :: Configuration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="language" content="en" />
<link rel="stylesheet" href="themes/Default/style_default.css" type="text/css" />
</head>

<body id="default_body">

<div id="pagetop_logo">
	<img src="../core/themes/Deep_Blue/images/logo.gif" alt="{$code_base}"/>
</div>

<table cellspacing="0" class="invisible">
<tr>
<td id="page_leftpanel" style="text-align: left;">
<!--This is the left side panel, for installation this is just a spacer-->




<div>
<br /><br /><br /><br />
<ol>
<li><a href="install.php">Base Configuration</a></li>
<li>Base Server Setup</li>
<li style="font-weight: bold; color: lightgreen;">Installation of Server Database Tables</li>
</ol>
</div>




<!--This is the end of the left side panel-->
</td>
<td id="page_centerpanel">
<!--This is the center panel where user actions, text, and menus will appear-->

<p class="h4">{$app_name} Install Utility</p>

<p>
The database tables for the &quot;Base Server&quot; component of {$app_name} will now be installed. If you chose the &quot;Retain User Accounts&quot; option all user specific tables will be retained keeping your current registered user details intact.
</p>
<p>