<!--This is the end of the center panel-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!--This is the footer cell visible at the bottom of all pages-->

<div align="center">
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	<br /><br /><br />
	Page generated in: {$exec_time} seconds.
	<br /><br /><br />
	<a href="http://www.shadowsrising.net" target="_blank">{$code_base}</a> &copy; Copyright 2004 Shadows Rising Project Developers<br />
	<br />
	Deep Blue Theme &copy; 2004 Maugrim The Reaper and <a onclick="window.open(this.href,'_blank');return false;" href="{$url_prefix}/docs/copyright.html">Shadows Rising Project Developers</a>
	<br /><br />
<table class="default" style="border: 0px">
	<tr>
		<td>
			<img src="{$url_prefix}/core/images/standards/valid-xhtml11.png" alt="Valid XHTML 1.0!" height="31" width="88" style="border: 0px" />
			<img src="{$url_prefix}/core/images/standards/vcss.png" alt="Valid CSS 1/2!" height="31" width="88" style="border: 0px" />
		</td>
	</tr>
</table>
</div>

<!--This is the end of the footer cell-->
</td>
</tr> 
</table>
<!--This is the end of the "holding" table created per Step Three-->

</body>
</html>