		</td>

	</tr>

</table>





<div align="center">

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

	<br /><br /><br />

<a href="http://shadows.quantum-star.com/" target="_blank">Shadows Rising RPG Game Engine</a> &copy; Copyright 2004 Shadows Rising, Individual Authors<br />

<br />

Page generated in: {$exec_time} seconds.<br />

<small>[Powered By: {$qsite_v}, copyright &copy; 2004 Shadows Rising RPG/Quantum Star SE Developers]</small>

<table class="default" style="border: 0px">

	<tr>

		<td colspan="3">

			<a href="http://validator.w3.org/check/referer"><img src="../qcms/images/standards/valid-xhtml10.png" alt="Valid XHTML 1.0!" height="31" width="88" style="border: 0px" /></a>

			<a href="http://jigsaw.w3.org/css-validator"><img src="../qcms/images/standards/vcss.png" alt="Valid CSS 1/2!" height="31" width="88" style="border: 0px" /></a>

		</td>
	<tr>
		<td colspan="3">

			<a href="http://www.mozilla.org/products/firefox/" target="_blank"><img src="../qcms/images/standards/designedforfirefox.png" alt="Designed For FireFox" style="border: 0px"></a>

		</td>
	</tr>
	</tr>

</table>

</div>

	

</body>

</html>